<% @trips.each do |trip| %>
  <p><%= link_to "#{trip.name}", user_trip_path(current_user, trip) %> | <%= trip.description %> | <%= trip.start_date %> thru <%= trip.end_date %> </p>
<% end %>

<%= link_to "Create New Trip", new_user_trip_path %>

<h2><%= link_to "Home", user_path(current_user) %></h2>
