<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "All Trips", user_trips_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Profile", user_path(current_user), class: "nav-right" %>
</div>

<% @trips.each do |trip| %>
  <p><%= link_to "#{trip.name}", user_trip_path(current_user, trip) %> | <%= trip.description %> | <%= trip.start_date %> thru <%= trip.end_date %> </p>
<% end %>

<%= link_to "Create New Trip", new_user_trip_path %>
