<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "Upcoming Trips", user_trips_path(current_user) %>
  <%= link_to "Past Trips", past_trips_path(current_user), style: "background: orange" %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Profile", user_path(current_user), class: "nav-right" %>
</div><br />

<body class="trip-creation">
  <div class="trip-form">

    <div class="trip-form-header p-0">
      <%= link_to image_tag("travel-banner.png", class: "trip-form px-3"), root_path %>
    </div>

    <% if flash[:alert] %>
      <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
    <% end %>

    <% if @trip.errors.any? %>
      <div class="flash flash-full flash-error"><% @trip.errors.messages.each do |attr, message| %>
        <%= message.first %><br />
      <% end %></div>
    <% end %>

    <div class="trip-form-body mt-3">

      <%= form_for @trip, url: user_trips_path, action: 'post' do |f| %>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <%= f.hidden_field :total_cost, value: 0 %>

        <%= render partial: 'form', locals: { f: f } %>

        <%= f.submit "Create Trip", class: "btn btn-primary btn-block" %>

      <% end %>

    </div>
  </div>
</body>
