<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "Upcoming Trips", user_trips_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Profile", user_path(current_user), class: "nav-right" %>
  <%= link_to "Past Trips", past_trips_path(@user), class: "nav-right" %>
  <%= link_to "Create New Trip", new_user_trip_path, class: "nav-right", style: "background: blue" %>
</div>

<div class="trip-show-page pt-5">
  <div class="trip-details">
    <div class="trip-details-header">
      <%= link_to image_tag(@trip.select_image), root_path %>
    </div>
    <div class="trip-details-body">
      <p class="input-block", style="text-align: center">Name:<br /><%= @trip.name %><p>
      <p class="input-block", style="text-align: center">Description:<br /><%= @trip.description %><p>
      <p class="input-block", style="text-align: center">Dates:<br /><%= "#{@trip.start_date} thru #{@trip.end_date}" %><p>
      <p class="input-block", style="text-align: center">Total Cost: <%= number_to_currency(@trip.total_cost) %><p>
      <p class="input-block", style="text-align: center">Flights: <%= @trip.flights.size %> |
        Activities: <%= @trip.activities.size %> |
        Accommodations: <%= @trip.accommodations.size %><p>

      <%= link_to '<button class="btn btn-primary btn-block" type="button">Edit Trip</button>'.html_safe, edit_user_trip_path %><br /><br />
      <%= link_to '<button class="btn btn-primary-delete btn-block" type="button">Delete Trip</button>'.html_safe, user_trip_path(current_user, @trip), method: :delete, data: { confirm: "Are you sure you want to delete this trip? This will delete all associated flights, activities, and accommodations." } %><br />

    </div>

  </div>
</div>

<div class="thumbnail-grid", style="padding-top: 10px">
  <div class="gallery-small">
    <div class="thumbnail-desc", style="height: 40px;">
      <%= link_to "<button class='btn btn-primary btn-block', type='button'>Flights</button>".html_safe, trip_flights_path(@trip) %>
    </div>
    <%= link_to image_tag("flying.jpg"), trip_flights_path(@trip) %>
  </div>
  <div class="gallery-small">
    <div class="thumbnail-desc", style="height: 40px;">
      <%= link_to "<button class='btn btn-primary btn-block', type='button'>Activities</button>".html_safe, trip_activities_path(@trip) %>
    </div>
    <%= link_to image_tag("hiking.jpg"), trip_activities_path(@trip) %>
  </div>
  <div class="gallery-small">
    <div class="thumbnail-desc", style="height: 40px;">
      <%= link_to "<button class='btn btn-primary btn-block', type='button'>Accommodations</button>".html_safe, trip_accommodations_path(@trip) %>
    </div>
    <%= link_to image_tag("hotel-pillows.jpg"), trip_accommodations_path(@trip) %>
  </div>
</div>
