<body class="session-authentication">
  <div class="auth-form" >

    <div class="auth-form-header p-0">
      <%= link_to image_tag("travel-banner.png", class: "signup-form px-3"), root_path %>
    </div>

    <% if flash[:alert] %>
      <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
    <% end %>

    <div class="auth-form-body mt-3">

      <%= form_for @user, url: login_path, method: :post do |f| %>

        <%= f.label :username, "Username: " %>
        <%= f.text_field :username, class: "form-control input-block" %><br />

        <%= f.label :password, "Password: " %>
        <%= f.password_field :password, class: "form-control input-block" %><br />

        <%= f.submit "Log In", class: "btn btn-primary btn-block" %>

        <p class="create-account-callout mt-3">
          New User? <%= link_to "Create an account.", new_user_path %>
        </p>

      <% end %>

    </div>
  </div>
</body>
