<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "Upcoming Trips", user_trips_path(@user) %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Past Trips", past_trips_path(@user), class: "nav-right" %>
</div><br />

<body class="user-creation">
  <div class="signup-form" >

    <div class="signup-form-header p-0">
      <%= link_to image_tag("travel-banner.png", class: "signup-form px-3"), login_path %>
    </div>

    <% if flash[:alert] %>
      <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
    <% end %>

    <% if @user.errors.any? %>
      <div class="flash flash-full flash-error"><% @user.errors.messages.each do |attr, message| %>
        <%= message.first %><br />
      <% end %></div>
    <% end %>

    <div class="signup-form-body mt-3">

    <%= form_for @user do |f| %>

      <%= f.hidden_field :email, value: @user.email %>

      <%= f.hidden_field :password, value: @user.password_digest %>

      <%= f.label :name, "Name: " %>
      <%= f.text_field :name, class: "form-control input-block" %><br />

      <%= f.label :biography, "Biography: " %>
      <%= f.text_area :biography, class: "form-control input-block" %><br />

      <%= f.label :location, "Location: " %>
      <%= f.text_field :location, class: "form-control input-block" %><br />

      <%= f.submit "Update User", class: "btn btn-primary btn-block" %>

    <% end %>

    </div>
  </div>
</body>
