<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "All Trips", user_trips_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Profile", user_path(current_user), class: "nav-right" %>
</div>

<% if flash[:alert] %>
  <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
<% end %>

<div class="row">
  <div class="gallery">
    <div class="desc">Trips</div>
    <%= link_to image_tag("trips.jpg"), user_trips_path(current_user) %>
    <div class="dropdown-content">Test Dropdown</div>
    <div class="dropdown-content">Test Dropdown</div>
    <div class="dropdown-content">Test Dropdown</div>
  </div>

  <div class="gallery">
    <div class="desc">Flights</div>
    <%= link_to image_tag("flying.jpg"), user_trips_path(current_user) %>
  </div>

  <div class="gallery">
    <div class="desc">Activities</div>
    <%= link_to image_tag("hiking.jpg"), user_trips_path(current_user) %>
  </div>

  <div class="gallery">
    <div class="desc">Accommodations</div>
    <%= link_to image_tag("hotel-pillows.jpg"), user_trips_path(current_user) %>
  </div>
</div>
