<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path(current_user) %>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "logout" %>
</div>

<% if flash[:alert] %>
  <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
<% end %>

<div class="row mt-3">
  <div class="column img-title">Trips</div>
  <!-- <div class="column img-title">Flights</div>
  <div class="column img-title">Accommodations</div>
  <div class="column img-title">Activities</div> -->
</div>

<div class="row">
  <div class="img column"><%= link_to image_tag("trips.jpg"), user_trips_path(current_user) %></div>
  <!-- <div class="img column"><#%= link_to image_tag("flying.jpg"), user_trips_path(current_user) %></div>
  <div class="img column"><#%= link_to image_tag("hotel-pillows.jpg"), user_trips_path(current_user) %></div>
  <div class="img column"><#%= link_to image_tag("hiking.jpg"), user_trips_path(current_user) %></div> -->
</div>

<!--
  - link to all flights for the user
  - link to all accommodations for the user
  - link to all activities for the user

  - Format such that each option is a small box showing title, description and an image?
-->
