<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "Profile", user_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "logout" %>
</div>

<% if flash[:alert] %>
  <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
<% end %>

<div class="row mt-3">
  <div class="column4 img-title">Trips</div>
  <div class="column4 img-title">Flights</div>
  <div class="column4 img-title">Accommodations</div>
  <div class="column4 img-title">Activities</div>
</div>

<div class="row">
  <div class="img column4"><%= link_to image_tag("trips.jpg"), user_trips_path(current_user) %></div>
  <div class="img column4"><%= link_to image_tag("flying.jpg"), user_trips_path(current_user) %></div>
  <div class="img column4"><%= link_to image_tag("hotel-pillows.jpg"), user_trips_path(current_user) %></div>
  <div class="img column4"><%= link_to image_tag("hiking.jpg"), user_trips_path(current_user) %></div>
</div>
