<body class="user-creation">
  <div class="signup-form" >

    <div class="signup-form-header p-0">
      <%= link_to image_tag("travel-banner.png", class: "signup-form px-3"), root_path %>
    </div>

    <% if flash[:alert] %>
      <div class="flash flash-full flash-error"><%= flash[:alert] %></div>
    <% end %>

    <% if @user.errors.any? %>
      <div class="flash flash-full flash-error"><% @user.errors.messages.each do |attr, message| %>
        <%= message.first %><br />
      <% end %></div>
    <% end %>

    <div class="signup-form-body mt-3">

      <%= form_for @user do |f| %>

        <%= f.label :email, "Email: " %>
        <%= f.email_field :email, class: "form-control input-block" %><br />

        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control input-block" %><br />

        <%= f.label :password_confirmation, "Confirm Password: " %>
        <%= f.password_field :password_confirmation, class: "form-control input-block" %><br />

        <%= f.label :name, "Name: " %>
        <%= f.text_field :name, class: "form-control input-block" %><br />

        <%= f.label :biography, "Biography: " %>
        <%= f.text_area :biography, class: "form-control input-block" %><br />

        <%= f.label :location, "Location: " %>
        <%= f.text_field :location, class: "form-control input-block" %><br />

        <%= f.submit "Create User", class: "btn btn-primary btn-block" %>

        <p class="login-callout mt-3">
          Already have an account? <%= link_to "Log in.", login_path %>
        </p>

      <% end %>

    </div>
  </div>
</body>
