<div class="topnav" id="myTopnav">
  <%= link_to "Home", users_path %>
  <%= link_to "Upcoming Trips", user_trips_path(current_user) %>
  <%= link_to "Logout", logout_path, class: "nav-right" %>
  <%= link_to "Profile", user_path(current_user), class: "nav-right" %>
  <%= link_to "Create New Trip", new_user_trip_path, class: "nav-right", style: "background: blue" %>
</div>

<h3 style="text-align: center">Past Trips</h3>

<div class="thumbnail-grid", style="padding-top: 10px">
  <% @trips.each do |trip| %>
    <div class="gallery-small">
      <div class="thumbnail-desc">
        <%= link_to "<button class='btn btn-primary btn-block', type='button'>
          #{trip.name}<br />
          Start Date: #{trip.start_date}<br />
          End Date: #{trip.end_date}
        </button>".html_safe, user_trip_path(current_user, trip) %>
      </div>
      <%= link_to image_tag(trip.select_image), user_trips_path(current_user) %>
      <div class="thumbnail-desc", style="font-weight: normal">
        <%= trip.description %>
      </div>
    </div>
  <% end %>
</div>
